# Environment variables
.env
.env.*

# Virtual Environment
venv/
env/
.venv/
.ENV/
env.bak/
venv.bak/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# VS Code settings
.vscode/
*.code-workspace

# Jupyter Notebook
.ipynb_checkpoints